.brand {
  display: block;
  text-align: center;
}
.brand--bottom {
  margin-top: 2.5em;
  opacity: 0.45;
}
.brand--bottom:active, .brand--bottom:focus, .brand--bottom:hover {
  opacity: 1;
}
.brand--top {
  margin-bottom: 2.5em;
}
.brand-img {
  display: block;
  margin: 0 auto;
  max-width: 340px;
}