.btn,btn[data-status='1'] {
  background: $btn;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  border: 0;
  color: #faf6fa;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 3;
  overflow: hidden;
  padding: 0 2.5em;
  position: relative;
}
.btn:active, .btn:focus, .btn:hover {
  background: $btn;
  color: #fff;
}
.btn--b {
  background: #de3a95;
  line-height: 2.5;
}
.btn--b:active, .btn--b:focus, .btn--b:hover {
  background: #c4217b;
  color: #fff;
}
.btn[data-status='0'] {
  opacity: 0.4;
}
.btn[data-status]:active, .btn[data-status]:focus, .btn[data-status]:hover {
  background: darken($btn,10%);
  color: #fff;
  cursor: pointer;
}