.box{
  border-radius:20px 20px;
  padding:5px 5px;
}
.form-control{
  box-sizing: border-box;
  padding: 7px;
  margin: 10px 0;
  @media (max-width: 450px) {
    margin: 0 0 10px;
  }
}
.form-title {
   color: #333;
   display: block;
   font-size: 120%;
   padding: 0.625em;
   padding-left: 2.5em;
   position: relative;
 }
.form-title::before {
  font-family: FontAwesome;
  content: "\f0a4";
  color: #333;
  position: absolute;
  padding-right: 1.625em;
  transform: translateX(-50%);
  display: inline-block;
  vertical-align: middle;
}

.form-signin input[type="text"]{
  border-radius: 5px;
}
.checkbox{
  max-width: 400px;
  padding-left: 36px;
  color: #000000;
  font-size:1em;
}
.checkbox a{
  color: #365d78;
}
.form-signin .col-xs-6 {
  @media (max-width: 450px) {
    width: 100%;
  }
}
iframe .col-lg-12 {
  @media (max-width: 450px) {
    padding-left: 0;
    padding-right: 0;
  }
}
iframe {
  height: 360px;
  @media (max-width: 450px) {
    height: 430px;
  }
}