h1, h2, h3, h4, h5, p,a {
  font-family: "Microsoft YaHei",'Noto Sans TC', sans-serif;
}
body {
  background-color: $mainColor;
}
h2 {
  margin-bottom: 0.625em;
  @include breakpoint(700px, $no-query:true){
    font-size: 150%;
  }
}
li {
  margin-bottom: 0.625em;
  margin-top: 0;
}
a {
  text-decoration: none;
  &:hover,&:active,&:visited,,&:focus {
    text-decoration: none;
  }
}
.line {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.strong {
  font-weight: 700;
}
.orange {
  color: $orange;
}

img {
  display: block;
  max-width: 100%;
}
.align-center {
  text-align: center;
}
.noPadding {
  padding-left:0;
  padding-right:0;
}
.tci {
  font-size: 150%;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 2px 2px 1px #6f6f6f;
  letter-spacing: 6px;
}

.tac {
  text-align: center;
  margin-bottom: 20px;
}