/* line 5, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../components/sass/_card.scss */
.card {
  padding: 1.25em;
  position: relative; }

@media screen and (min-width: 768px) {
  /* line 6, ../components/sass/_card.scss */
  .card {
    border-radius: 6px; } }
/* line 10, ../components/sass/_card.scss */
.card--a {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

/* line 14, ../components/sass/_card.scss */
.card--b {
  border: 2px solid #ddd; }

/* line 17, ../components/sass/_card.scss */
.card--l {
  padding: 1.25em; }

@media screen and (min-width: 768px) {
  /* line 21, ../components/sass/_card.scss */
  .card--l {
    padding: 2.5em; } }
/* line 25, ../components/sass/_card.scss */
.has-answer {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1.25em;
  padding: 0; }

/* line 31, ../components/sass/_card.scss */
.answer {
  font-weight: 700; }

/* line 34, ../components/sass/_card.scss */
.answer-link {
  border: 2px solid #ddd;
  border-radius: 6px;
  color: #333;
  display: block;
  font-size: 90%;
  padding: 0.625em;
  padding-left: 2.5em;
  position: relative; }

@media screen and (min-width: 768px) {
  /* line 45, ../components/sass/_card.scss */
  .answer-link {
    font-size: 100%; } }
/* line 49, ../components/sass/_card.scss */
.answer-link:active, .answer-link:focus, .answer-link:hover, .answer-link.is-selected {
  border-color: #99B7C2;
  color: #333; }

/* line 53, ../components/sass/_card.scss */
.answer-link.is-selected::before {
  background: #99B7C2;
  color: #333; }

/* line 57, ../components/sass/_card.scss */
.answer-link::before {
  background: #ddd;
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  left: 0.625em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20px; }

/* line 1, ../components/sass/_globe.scss */
h1, h2, h3, h4, h5, p, a {
  font-family: 'Noto Sans TC', sans-serif; }

/* line 4, ../components/sass/_globe.scss */
body {
  background-color: #87ADBA; }

/* line 7, ../components/sass/_globe.scss */
h2 {
  margin-bottom: 0.625em; }
  @media (min-width: 700px) {
    /* line 7, ../components/sass/_globe.scss */
    h2 {
      font-size: 150%; } }

/* line 13, ../components/sass/_globe.scss */
li {
  margin-bottom: 0.625em;
  margin-top: 0; }

/* line 17, ../components/sass/_globe.scss */
a {
  text-decoration: none; }
  /* line 19, ../components/sass/_globe.scss */
  a:hover, a:active, a:visited, a:focus {
    text-decoration: none; }

/* line 23, ../components/sass/_globe.scss */
.line {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

/* line 29, ../components/sass/_globe.scss */
.strong {
  font-weight: 700; }

/* line 32, ../components/sass/_globe.scss */
.orange {
  color: #cf4000; }

/* line 36, ../components/sass/_globe.scss */
img {
  display: block;
  max-width: 100%; }

/* line 1, ../components/sass/_bg.scss */
.bg {
  background-image: url(bg.svg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50% -10%;
  margin: 0 auto 0;
  height: 800px;
  width: 100%; }
  @media (max-width: 500px) {
    /* line 1, ../components/sass/_bg.scss */
    .bg {
      background-image: url(bg_small.svg);
      height: 600px; } }

/* line 1, ../components/sass/_brand.scss */
.brand {
  display: block;
  text-align: center; }

/* line 5, ../components/sass/_brand.scss */
.brand--bottom {
  margin-top: 2.5em;
  opacity: 0.45; }

/* line 9, ../components/sass/_brand.scss */
.brand--bottom:active, .brand--bottom:focus, .brand--bottom:hover {
  opacity: 1; }

/* line 12, ../components/sass/_brand.scss */
.brand--top {
  margin-bottom: 2.5em; }

/* line 15, ../components/sass/_brand.scss */
.brand-img {
  display: block;
  margin: 0 auto;
  max-width: 340px; }

/* line 1, ../components/sass/_cell.scss */
.cell {
  margin: 2.5em auto 5em;
  max-width: 50em; }

/* line 1, ../components/sass/_btn.scss */
.btn, btn[data-status='1'] {
  background: #99B7C2;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  border: 0;
  color: #faf6fa;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 3;
  overflow: hidden;
  padding: 0 2.5em;
  position: relative; }

/* line 15, ../components/sass/_btn.scss */
.btn:active, .btn:focus, .btn:hover {
  background: #99B7C2;
  color: #fff; }

/* line 19, ../components/sass/_btn.scss */
.btn--b {
  background: #de3a95;
  line-height: 2.5; }

/* line 23, ../components/sass/_btn.scss */
.btn--b:active, .btn--b:focus, .btn--b:hover {
  background: #c4217b;
  color: #fff; }

/* line 27, ../components/sass/_btn.scss */
.btn[data-status='0'] {
  opacity: 0.4; }

/* line 30, ../components/sass/_btn.scss */
.btn[data-status]:active, .btn[data-status]:focus, .btn[data-status]:hover {
  background: #79a0af;
  color: #fff;
  cursor: pointer; }

/*Global Animations*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible; } }
@keyframes fadeIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden; }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible; } }
@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px); }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slideDown {
  from {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px); }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slideUp {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
/* Dan Eden Inspired Animations */
/*https://github.com/daneden/animate.css/blob/master/source/attention_seekers/tada.css*/
@-webkit-keyframes zoomIn {
  from {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); } }
@keyframes zoomIn {
  from {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); } }
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
/*Logo Animations*/
/* line 160, ../components/sass/_animation.scss */
.index .brand--top {
  -webkit-animation: fadeIn .5s, slideDown .5s;
  animation: fadeIn .5s, slideDown .5s; }

/* line 165, ../components/sass/_animation.scss */
.index .main {
  -webkit-animation: slideUp .75s;
  animation: slideUp .75s; }

/*Button Animations*/
/* line 172, ../components/sass/_animation.scss */
.btn {
  -webkit-transition: all .3s;
  transition: all .3s; }

/*Quiz Page Animations*/
/* line 179, ../components/sass/_animation.scss */
.answer-link {
  -webkit-transition: all .5s;
  transition: all .5s; }

/* line 184, ../components/sass/_animation.scss */
.answer-link.is-selected {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025); }

/*Results Page*/
/* line 194, ../components/sass/_animation.scss */
.character {
  -webkit-animation: fadeIn .5s both, tada 1s;
  animation: fadeIn .5s both, tada 1s; }

/* line 199, ../components/sass/_animation.scss */
.character-description {
  -webkit-animation: fadeIn 1s .5s both;
  animation: fadeIn 1s .5s both; }

/* line 204, ../components/sass/_animation.scss */
.share {
  -webkit-animation: zoomIn .5s 1s both;
  animation: zoomIn .5s 1s both; }

/* line 209, ../components/sass/_animation.scss */
.brand--bottom {
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }
